.form {
    max-width: 500px;
    margin: 200px auto;
    padding: 10px;
    font-family: "Lato", sans-serif;
}

.form__fieldset {
    border-color: teal;
    border-radius: 20px;
    background-color: #fff;
    display:grid;
    row-gap: 10px;
}

.form__legend {

    padding: 5px 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: teal;
    border-radius: 10px;
}

