
.button {
    background-color: teal;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding: 4px 20px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 0px 0px 0px 40px
}

@media (max-width:768px) {
    .button {
        margin:0px 50px;
    }
}

.button:hover {
    border-color: #333333;
    color: rgb(255, 227, 227);
}

.button:active {
    border-color: #1d1d1d;
    color: hsl(0, 69%, 80%);
}