html {
  box-sizing: border-box
}

*,
::after,
::before {
  box-sizing: inherit;
}

body{
  font-family: "Montserrat", sans-serif;
  margin: auto;
  line-height: 1.2;
  background-size: auto;
  background-image: url("./share.png");
}
